/* CSS reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: #000a12;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

button {
  all: unset;
}

select {
  all: unset;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* SwipeItem */
.swipe-item-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 0;
}

/* @keyframes swipe {
  from {
    left: 0;
  }

  to {
    left: -100vw;
  }
} */

.swipe-item-active {
  z-index: 1;
  /* animation-name: swipe;
  animation-duration: 2000ms; */
}

.swipe-item {
  display: block;
}

.wrapper__swipe-item-contents {
  display: flex;
  max-width: 75em;
  height: 20rem;
  margin: 0 auto;
}

.wrapper__swipe-item-tag {
  display: flex;
  margin-right: 1px;
}

.desc-wrapper__swipe-item-content {
  flex: 1 1 0;
  position: relative;
}

.align-swipe-item-content {
  position: absolute;
  top: 20%;
  left: 0;
}

.swipe-item-tag {
  font-size: 0.875rem;
  border-radius: 4px;
  padding: 0.125rem 0.625rem;
  font-weight: bold;
  height: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.swipe-item-tag:nth-child(2) {
  margin-left: 0.375rem;
}

.swipe-item h1 {
  font-size: 2rem;
  font-weight: 700;
  white-space: pre-wrap;
  margin-bottom: 0.5rem;
}

.swipe-item p {
  white-space: pre;
}

.swipe-item img {
  width: 737px;
  max-height: 20rem;
  object-fit: contain;
}

/* SwipePaginationIndex */
.swipe-pagination-controller {
  /* 현재 1em = 14px = font-size */
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 9.643em;
  height: 2.58em;
  border-radius: 20px;
  padding: 0 1.143em;
  font-size: 0.875rem;
  letter-spacing: -1px;
}

.swipe-pagination-index {
  margin-right: auto;
  flex: 1 1 0;
}

.swipe-page-control-button-container {
  flex: 1 1 0;
  display: flex;
  justify-content: space-between;
}

.swipe-page-control-button-container button {
  cursor: pointer;
}

/* Swiper, SwipePaginationButtons */
.swiper {
  overflow: hidden;
}

.swipe-items {
  /* width: 900vw;
  display: flex;
  transition: transform 200ms; */
  width: 100vw;
  height: 20rem;
  position: relative;
}

.swipe-pagination-wrapper {
  display: flex;
  height: 4rem;
  border-bottom: 1px solid #e9ecef;
}

.swipe-pagination-grid-wrapper {
  max-width: 75rem;
  display: grid;
  grid-template-columns: 151px 1fr 52px;
  margin: auto;
}

.swipe-pagination-button-container {
  overflow: hidden;
  display: flex;
  margin: auto;
  border-left: 1px solid #dee2e6;
}

.swipe-pagination-button-container li {
  font-weight: 700;
  font-size: 0.875rem;
  color: #495057;
  border-radius: 1.429em;
  box-shadow: inset 0 0 0 1px #ced4da;
  height: 2.6em;
  display: flex;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 200ms;
}

.swipe-pagination-button-container li:first-child {
  margin-left: 1rem;
}

.swipe-pagination-button-container li.active {
  color: #00c471;
  box-shadow: inset 0 0 0 2px #00c471;
}

.see-more__swipe {
  /* 현재 font-size: 16px = 1em인 상태 */
  border: 1px solid #ced4da;
  border-radius: 50%;
  width: 2.25em;
  height: 2.25em;
  text-align: center;
  color: #495057;
  cursor: pointer;
  margin: auto 0 auto 1em;
}

/* Search */
main .search {
  max-width: 36.25rem;
  margin: 0 auto 1.5rem;
}

.title__search {
  font-size: 1.5rem;
  color: #363636;
  display: flex;
  justify-content: center;
  padding: 3rem 0 1.25rem;
}

.search-bar-wrapper {
  margin-bottom: 0.375rem;
  position: relative;
}

.search .search-bar {
  position: relative;
}

.search-bar input {
  padding: 0.875rem 1.25rem;
  background-color: rgba(29, 192, 120, 0.12);
  border: 1px solid rgba(29, 192, 120, 0.24);
  border-radius: 1.75rem;
  max-width: 36.25rem;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 200ms ease;
  color: #5f5f5f;
}

.search .search-bar input:focus {
  background-color: #fff;
  border-color: #dbdbdb;
  box-shadow: 1px 4px 6px 0 rgb(0, 10, 18, 0.1);
}

.search .search-bar input::placeholder {
  color: #9fcab7;
}

.search .search-bar input:focus::placeholder {
  color: #dbdbdb;
}

.search .search-bar button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  font-size: 1.25rem;
  cursor: pointer;
  color: #363636;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
}

.search-active input {
  border-bottom: 1px solid white;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

/* Tag */
.tag-container a {
  display: inline-flex;
  align-items: center;
  font-size: 0.75rem;
  padding: 0 1em;
  margin: 0.25rem;
  font-weight: 500;
  background-color: #f1f3f5;
  border-radius: 20px;
  height: 1.75rem;
  letter-spacing: -0.3px;
}

.tag-container a:hover {
  background-color: #e1e3e3;
}

/* RecentLecture */
.title-section__lecture-container {
  display: flex;
}

.title-wrapper__lecture-container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1e1e1e;
  margin-bottom: 1rem;
}

.title__lecture-container {
  margin-right: 0.5rem;
}

.recent-lectures {
  display: flex;
  justify-content: space-between;
}

/* RecentLectureItem */
.recent-lectures li {
  width: 48.5%;
  min-width: 31.25rem;
}

.recent-lecture-item {
  display: flex;
  border: 1px solid #dedede;
  margin: 0.25rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 200ms ease;
}

.recent-lecture-item:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.recent-lecture-thumbnail {
  width: 10.875rem;
  object-fit: contain;
}

.container__recent-lecture-description {
  flex: 1 1 auto;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
}

.container__recent-lecture-description h3 {
  color: #333;
  font-weight: 700;
  margin-bottom: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 3rem;
}

.wrapper__recent-lecture-description {
  display: flex;
  align-items: flex-end;
  margin-top: auto;
}

.wrapper__recent-lecture-desc-left {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  color: #595959;
  padding-right: 0.75rem;
}

.recent-lecture-info {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.recent-lecture-info .divider {
  font-size: 1rem;
  color: #dedede;
  margin: 0 0.5em;
}

.recent-lecture-item progress {
  width: 100%;
  height: 0.125rem;
  appearance: none;
  background-color: #dedede;
}

.recent-lecture-item progress::-moz-progress-bar {
  background-color: #00c471;
}

.recent-lecture-item progress::-webkit-progress-bar {
  background-color: #dedede;
}

.recent-lecture-item progress::-webkit-progress-value {
  background-color: #00c471;
}

.anchor__play-recent-lecture {
  background-color: #00c471;
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.5rem;
  line-height: 1;
  border-radius: 4px;
}

.anchor__play-recent-lecture .play-icon {
  margin-left: 0.5rem;
}

/* SimilarRoot */
.lecture-list {
  display: flex;
}

/* SlideArrow */
.browse-lecture-list {
  opacity: 0.85;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.75rem;
  height: 2.75rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: white;
  color: #333;
  font-size: 1.125rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease-in;
  z-index: 1;
  transition: all 0.2s ease-in;
}

.browse-lecture-list:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.browse-lecture-list.disabled {
  color: #efefef;
  border-color: #efefef;
  box-shadow: none;
  cursor: not-allowed;
}

.browse-lecture-list.left {
  left: -2%;
}

.browse-lecture-list.right {
  right: -2%;
}

/* Rating */
.rating-stars .fa-star {
  width: 0.9rem;
  height: 0.9rem;
  letter-spacing: normal;
}

/* MoreLectures */
.title__more-lectures {
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
}

.arrow-parent__more-lectures {
  position: relative;
}

.container__more-lectures {
  overflow: hidden;
}

.wrapper__more-lectures {
  display: flex;
  flex-direction: row;
  /* width: 200%; */
  /* transform: translate(-50%); */
  transition: transform 300ms;
}

.card__more-lectures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  /* width: 12rem; */
  flex: 1 1 0;
  min-height: 6.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 0.625rem;
}

.icon__more-lectures {
  width: 3.25rem;
  height: 3.25rem;
  margin-bottom: 0.25rem;
  background: url(https://cdn.inflearn.com/public/main/category/icons_sprites.png);
}

/* Article */
.article-container-wrapper {
  overflow: hidden;
}

.article-container {
  display: inline-flex;
  width: 100%;
}

/* ArticleItem */
.article-container li {
  display: inline-block;
  max-width: 32.2%;
  margin: 0.125rem;
  margin-right: 1.25rem;
}

.article-container li:last-child {
  margin-right: 0.125rem;
}

.article-item {
  display: flex;
  flex-direction: column;
}

.article-item img {
  display: block;
  border-radius: 4px;
  margin-bottom: 1.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.article-item h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
  letter-spacing: normal;
  margin-bottom: 0.25rem;
}

.article-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
  color: #595959;
}

/* Banner */
.banner {
  padding: 1.5rem 0;
  overflow: hidden;
}

.banner-container {
  width: 300vw;
  transition: transform 200ms;
  display: flex;
}

.banner-container li {
  padding: 2.25rem;
  background-position: 40%;
  width: 100vw;
  transition: all 500ms ease;
}

.banner-item-wrapper {
  max-width: 75rem;
  margin: 0 auto;
  position: relative;
}

.banner-item {
  display: block;
  padding: 0 0.625rem;
}

.banner-container h3 {
  margin-bottom: 1em;
  white-space: pre-wrap;
}

.banner-anchor {
  color: #1dc078;
  background-color: white;
  font-weight: 700;
  padding: 0.75em 1em;
  border-radius: 4px;
  line-height: normal;
}

.banner-swipe-button-container {
  position: absolute;
  bottom: -1.25rem;
  right: 0;
}

.banner-swipe-button {
  width: 1.75rem;
  height: 1.75rem;
  color: #1e1e1e;
  background-color: white;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.banner-swipe-button:first-child {
  margin-right: 0.25rem;
}

.banner-swipe-button--disabled {
  background-color: hsla(0, 0%, 97.6%, 0.8);
  color: #979797;
}

.banner-pagination-container {
  display: flex;
  height: 0.375rem;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%);
}

.banner-pagination {
  width: 0.375rem;
  background-color: white;
  opacity: 0.48;
  margin-right: 0.625rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 500ms ease;
}

.banner-pagination--active {
  width: 2rem;
  opacity: 1;
}

.banner-pagination:last-child {
  margin-right: 0;
}

/* LECTURE-DETAIL-PAGE component */
/* DetailHeader */
.lecture-detail-header {
  background-color: #002333;
  z-index: 0;
  color: white;
  padding: 2.5rem 0;
  letter-spacing: -0.3px;
  font-size: 0.875rem;
}

.detail-header-wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
}

.thumbnail-container__detail-header {
  margin-left: 2.125rem;
  position: relative;
  display: flex;
}

.thumbnail-container__detail-header img,
.thumbnail-container__detail-header video {
  display: block;
  width: 27.5rem;
  height: 17.875rem;
  border-radius: 8px;
}

.free-watch-button {
  width: 100%;
  height: 100%;
  padding: 0.75rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.free-watch-amount {
  margin: 0 0.25rem 0 0.5rem;
}

.thumbnail-container__detail-header button {
  flex: 1 0 auto;
  background-color: #1b1c1d;
  border: 2px solid #00c471;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.938rem;
  font-weight: 700;
  height: 2.125rem;
  padding: 1px 0.375rem;
  line-height: 1.47;
}

.thumbnail-container__detail-header button span {
  color: #00c471;
}

.description-container__detail-header {
  padding-left: 2rem;
}

.description__detail-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.375rem;
}

.tag__detail-header {
  display: inline-flex;
  align-items: center;
  margin-right: 0.625rem;
  padding: 0 0.375rem;
  height: 1.375rem;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: -0.3px;
  background-color: #0075ff;
}

.category__detail-header {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
}

.detail-header-wrapper h2 {
  font-size: 1.625rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.detail-header-wrapper .rating-container {
  margin-bottom: 0.5rem;
}

.detail-header-wrapper .rating {
  font-weight: 700;
  margin-right: 0.5rem;
}

.detail-header-wrapper .rating-score {
  margin-left: 0.25rem;
}

.rating-container .highlight-students {
  font-weight: 700;
}

.detail-header-wrapper .author {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.detail-header-wrapper .author .name {
  text-decoration: underline;
  font-weight: 700;
  margin-right: 0.25rem;
}

.detail-header-wrapper .author-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.375rem;
}

.detail-header-wrapper .hash-tags {
  display: flex;
  align-items: center;
}

.hash-tag-icon {
  display: flex;
  margin: 0 0.375rem 0.5rem 0;
}

.detail-header-wrapper .hash-tag {
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0 0.25rem 0.5rem 0;
  padding: 0.25rem 0.75rem;
  border-radius: 100px;
  background-color: #173f51;
}

.detail-header-wrapper .hash-tag:hover {
  background-color: #20566f;
}

/* MenuBar */
.menu-bar__lecture-detail {
  border-bottom: 1px solid #f1f3f5;
}

.menu-container__lecture-detail {
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 3.375rem;
  height: 2.813rem;
}

.menu-container__lecture-detail li {
  /* display: flex;
  align-items: center; */
  margin-right: 1.875rem;
  padding: 0.938rem 0 0.375rem;
  line-height: 1.47;
  letter-spacing: -0.3px;
  font-size: 0.938rem;
  font-weight: 500;
  color: #abb0b5;
  cursor: pointer;
}

.menu-container__lecture-detail li:hover {
  color: #454545;
}

.menu-container__lecture-detail li.active {
  color: #1b1c1d;
  border-bottom: 2px solid #1b1c1d;
  font-weight: 700;
}

.review-amount__menu-bar {
  display: inline-block;
  margin-left: 0.25rem;
  font-size: 0.688rem;
  color: #00c471;
}

/* Content */
.content__lecture-detail {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  display: flex;
}

/* ResultList */
.search-active .search-result-container {
  display: block;
}

.search-result-container {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  border: 1px solid #dedede;
  border-top: unset;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
  z-index: 3;
}

.search-result-container h3 {
  padding: 1rem 1.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.125;
  color: #929292;
}

/* ResultItem */
.lecture__search-result {
  padding: 0.5rem 1.25rem;
  display: flex;
  width: 100%;
}

.lecture__search-result:hover {
  background-color: #f1f3f5;
}

.lecture__search-result img {
  display: block;
  width: 3.25rem;
  height: 2.125rem;
  margin-right: 0.5rem;
}

.info-wrapper__search-result {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.lecture-title__search-result {
  font-size: 0.875rem;
  font-weight: 700;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}

.highlighted__search-result {
  color: #00c471;
}

.author__search-result {
  font-size: 0.75rem;
  line-height: 1;
  color: #757575;
}

/* Loading */
.logo-wrapper__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0 1.5rem;
}

.logo__loading {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  animation-name: spin;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -moz-animation-name: spin;
  -moz-animation-duration: 1s;
  -moz-animation-delay: 0.1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(-1);
  }
}

@-moz-keyframes spin {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(-1);
  }
}

@-webkit-keyframes spin {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(-1);
  }
}

/* notFound 관련 */
.not-found {
  display: none;
}

/* NotFound */
.wrapper__not-found {
  height: 100vh;
  display: flex;
  align-items: center;
}

.message__not-found {
  flex: 1 1 0;
  margin-left: 3rem;
}

.message__not-found h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.message__not-found p {
  font-size: 2rem;
}

.go-to-main {
  color: #00c471;
}

.coding-cat {
  flex: 1 1 0;
  display: block;
  max-width: 50%;
}

.inflearn-stamp {
  display: block;
  width: 6.5rem;
  height: 6.5rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

/* courses-page */
/* Courses */
.courses-page-wrapper {
  max-width: 73.75rem;
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/* SideNavBar */
/* .side-nav-bar {
  line-height: 1.25;
  width: 12.25rem;
  color: #595959;
} */

.category-title {
  width: 100%;
  padding: 0.85rem;
  border: 1px solid #e4e4e4;
  border-top: none;
  background-color: #fafafa;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.category-title:first-of-type {
  border-top: 1px solid #e4e4e4;
}

.category-title.with-arrow::after {
  content: '';
  display: inline-block;
  margin-top: 0.125rem;
  margin-left: 0.65rem;
  border: solid #595959;
  border-width: 0 0.125rem 0.125rem 0;
  padding: 0.156rem;
  transform: rotate(-45deg);
  transition: transform 0.2s;
}

.category-title.with-arrow.clicked::after {
  content: '';
  display: inline-block;
  margin-top: 0.125rem;
  margin-left: 0.65rem;
  border: solid #595959;
  border-width: 0 0.125rem 0.125rem 0;
  padding: 0.156rem;
  transform: rotate(45deg);
  transition: transform 0.2s;
}

.category-contents {
  display: none;
}

.category-contents.show {
  display: block;
}

.category-detail {
  display: block;
  background-color: white;
  font-size: 0.925rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: 1px solid #e4e4e4;
  border-top: none;
}

/* SearchBar */
.search-bar__courses {
  margin: 0 0.75rem 0.5rem 0.75rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: flex-end;
}

.search-bar-container__courses {
  display: flex;
  align-items: center;
}

.search-bar-input__courses {
  width: 18.75rem;
  height: 2.25rem;
  border: 1px solid #dedede;
  color: #5f5f5f;
  padding: 0.313rem 0.563rem;
}

.search-bar-input__courses:focus {
  border: 2px solid #00c471;
  border-radius: 4px;
}

.search-bar-input__courses::placeholder {
  color: rgba(54, 54, 54, 0.3);
  font-size: 0.9rem;
}

.search-button__courses {
  width: 3.313rem;
  height: 2.25rem;
  background-color: #1dc078;
  color: white;
  font-weight: 800;
  text-align: center;
  margin-left: -1rem;
  cursor: pointer;
}

/* SkillSearchBar */
.skill-search-bar {
  width: 11rem;
  height: 1.938rem;
  margin: 0 0.5rem 0.4rem 0;
  display: inline-flex;
}

.skill-search-bar-input {
  background-color: #f6f6f6;
  color: #5f5f5f;
  padding: 0.313rem 0.563rem;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.skill-search-bar-input:hover {
  border: 1px solid gray;
}

.skill-search-bar-input:focus {
  border: 2px solid #00c471;
  box-shadow: 0.5px 0.5px 5px 1px #7dccab;
}

.skill-search-bar-input::placeholder {
  color: rgba(54, 54, 54, 0.3);
  font-size: 0.9rem;
}

.skill-search-button {
  padding: 0.313rem 0.75rem;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #1dc078;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Filter */
.filter-container-left {
  display: inline-flex;
  padding: 0.625rem 0.75rem 0.625rem 0.875rem;
  border: 1px solid #abb0b5;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.3px;
  cursor: pointer;
}

.filter-container-left:hover {
  border-color: #3e4042;
}

.filter-icon {
  display: flex;
  align-items: center;
  color: #3e4042;
  margin-right: 0.75rem;
}

.filter-icon-letter {
  padding-left: 3px;
}

.price-filter::after {
  content: '';
  border-right: 1px solid #e9ebee;
  margin: 0 0.375rem;
  height: 0.75rem;
}

.price-filter,
.level-filter {
  color: #abb0b5;
  line-height: 1.43;
  letter-spacing: -0.3px;
  font-size: 0.875rem;
  font-weight: 500;
}

/* Apply */
.apply-container__courses {
  background-color: #f3f4f7;
  padding: 6rem 0;
}

.apply-wrapper__courses {
  display: flex;
  justify-content: space-around;
  width: 72rem;
  margin: 0 auto;
  color: #333;
  text-align: center;
}

.apply-item-title__courses {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.apply-item-description_courses {
  margin-bottom: 1.5rem;
  white-space: pre-wrap;
}

.apply-item-button {
  background-color: #1dc078;
  color: white;
  font-size: 1.25rem;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* DashBoardMain */
#main__dash-board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  line-height: 1.55;
  margin-left: 1.875rem;
}

.grid-item__dash-board {
  max-width: 446px;
  padding: 1.25rem;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 8px;
  height: 14.375rem;
}

.grid-item__dash-board.no-padding {
  padding: 1.25rem 0;
}

.grid-item__dash-board header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: rgb(73, 80, 87);
  font-weight: 700;
}

.grid-item__dash-board header.has-padding {
  padding: 0 1.25rem;
}

.title-icon__dash-board {
  margin-right: 0.5rem;
}

.anchor-arrow__dash-board {
  color: rgb(134, 142, 150);
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.anchor-arrow__dash-board:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
  text-underline-position: under;
}

.anchor-arrow__dash-board::after {
  content: '';
  display: inline-block;
  margin: 0.1rem 0 0 0.25rem;
  border: solid rgb(134, 142, 150);
  border-width: 0 0.125rem 0.125rem 0;
  padding: 0.2rem;
  transform: rotate(-45deg);
}

.user-profile__dash-board {
  display: flex;
}

.inflearn-logo__dash-board {
  display: block;
  width: 3.5rem;
  border-radius: 32px;
  margin-right: 1rem;
}

.recent-lecture__dash-board {
  display: flex;
  flex-direction: column;
}

.recent-lecture-title__dash-board {
  word-break: keep-all;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: rgb(33, 37, 41);
}

.recent-lecture-detail__dash-board {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
  font-size: 0.75rem;
}

.progress__dash-board {
  color: rgb(73, 80, 87);
  letter-spacing: normal;
}

.last-date__dash-board {
  color: rgb(173, 181, 189);
  font-weight: 500;
}

.recent-lecture__dash-board progress {
  width: 100%;
  height: 0.5rem;
  border-radius: 4px;
  appearance: none;
  background-color: #dedede;
  margin-bottom: 1.25rem;
}

.recent-lecture__dash-board progress::-moz-progress-bar {
  background-color: #00c471;
  border-radius: 4px;
  margin-bottom: 1.25rem;
}

.recent-lecture__dash-board progress::-webkit-progress-bar {
  background-color: #dedede;
  border-radius: 4px;
  margin-bottom: 1.25rem;
}

.recent-lecture__dash-board progress::-webkit-progress-value {
  background-color: #00c471;
  border-radius: 4px;
  margin-bottom: 1.25rem;
}

.study-begin-button-wrapper {
  text-align: right;
}

.study-begin-button {
  padding: 0 1.125rem;
  border-radius: 8px;
  background-color: rgb(0, 196, 113);
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  font-weight: 500;
  height: 2.25rem;
  cursor: pointer;
}

.study-begin-button:hover {
  background-color: rgb(0, 167, 98);
}

.note__dash-board {
  padding: 1.5rem 0;
  color: rgb(173, 181, 189);
  text-align: center;
  font-weight: 500;
}

.study-records__dash-board {
  display: flex;
  padding: 1rem 0;
}

.record-item__dash-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.record-number__dash-board {
  font-size: 3rem;
  font-weight: 500;
  color: rgb(73, 80, 87);
}

.record-name__dash-board {
  color: rgb(173, 181, 189);
}

.skill-tags__dash-board {
  display: flex;
  padding-bottom: 0.625rem;
}

.skill-tag__dash-board {
  margin: 0 0.625rem 0.625rem 0;
  color: rgb(73, 80, 87);
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}

.skill-tag-name__dash-board {
  padding: 0.125rem 0.5rem;
  border-radius: 1.25rem 0 0 1.25rem;
}

.skill-tag-amount__dash-board {
  background-color: rgb(241, 243, 245);
  padding: 0.125rem 0.5rem;
  border-radius: 0 1.25rem 1.25rem 0;
}

.certification__dash-board {
  color: rgb(73, 80, 87);
  padding: 0.75rem 0.25rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.certification__dash-board:hover {
  color: rgb(0, 196, 113);
  background-color: rgba(28, 239, 151, 0.2);
  border-radius: 8px;
}

.certification-name__dash-board {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.code-button-wrapper__dash-board {
  text-align: right;
}

.code-button__dash-board {
  background-color: rgb(241, 243, 245);
  color: rgb(134, 142, 150);
  padding: 0 1.125rem;
  border-radius: 8px;
  height: 2.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}

.code-button__dash-board:hover {
  background-color: rgb(244, 247, 248);
}

.recent-lecture-item__dash-board {
  padding: 0.125rem 1.25rem;
  color: rgb(37, 38, 43);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-lecture-item__dash-board:hover {
  background-color: #f1f3f5;
}

.recent-lecture-item-title__dash-board {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 1rem;
}

.recent-lecture-item-date__dash-board {
  color: rgb(173, 181, 189);
  font-size: 0.75rem;
  font-weight: 500;
  flex-shrink: 0;
}
